<header class="header clearfix">
    <div class="header-top clearfix">
        <div class="header-logo">
            <a href="/">
                <img src="../images/logo.svg" alt="">
            </a>
        </div>
        <div class="hero-entrance">
         <a href="#">Logg inn</a>
         <a href="" class="button">Meld sak</a>
         </div>
       <nav class="header-navigation clearfix">
       	<ul class="header-navigation_list clearfix">
       		<li class="header-navigation_item">
       			<a class="header-navigation_link" href="#">Fagområder</a>
            <ul class="dropdown">
            <div class="dropdown-field">
               <h5 class="dropdown-title">Fagområder</h5>
                <p class="dropdown-text">Nullam tincidunt enim id dolor lobortis vehicula morbi semper massa.</p>
                <div class="clearfix">
                  <ul class="dropdomn-list">
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Arv</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Barn/familie</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Eiendom</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Bedrift</a></li>
                  </ul>
                  <ul class="dropdomn-list">
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> ID-tyveri</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Forbrukerkjøp</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Netthets</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Samboer/ekteskap</a></li>
                  </ul>
                </div>
              </div>
            </ul>
       		</li>
       		<li class="header-navigation_item">
       			<a class="header-navigation_link" href="#">Forsikringer</a>
            <ul class="dropdown">
            <div class="dropdown-field">
               <div class="clearfix">
                  <ul class="dropdown-block">
                    <li> 
                      <div class="dropdown-block_icon">
                       <i class="fa fa-comments" aria-hidden="true"></i>
                      </div>
                        <a href="#" class="dropdown-block_content">
                        <h4>Boligkjøperforsikring</h4>
                        <p>Nulla rhoncus, diam mollis tincidunt semper.</p>
                      </a>
                    </li>
                    <li> 
                      <div class="dropdown-block_icon">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                      </div>
                      <a href="#" class="dropdown-block_content">
                        <h4>Advokatforsikring</h4>
                        <p>Tilas aptent taciti sociosqu ad litora corquent per conubia.</p>
                      </a>
                    </li>
                  </ul>
                  </div>
              </div>
            </ul>
       		</li>
       		<li class="header-navigation_item">
       			<a class="header-navigation_link" href="#">Selskapet</a>
            <ul class="dropdown">
            <div class="dropdown-field">
             <h5 class="dropdown-title">Selskapet</h5>
              <p class="dropdown-text">Donec ut lacus ut velit congue lobortis.</p>
              <div class="clearfix">
                <ul class="dropdomn-list">
                  <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Om oss</a></li>
                  <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Kontakt</a></li>
                   <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Presse</a></li>
                </ul>
                <ul class="dropdomn-list">
                  <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Partnere</a></li>
                   <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Karriere</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> HELP i retten</a></li>
                </ul>
                </div>
              </div>
               <div class="dropdown-question">Se advokatene våre</div>
            </ul>
       		</li>
       		<li class="header-navigation_item">
       			<a class="header-navigation_link" href="#">Forbund</a>
            <ul class="dropdown">
              <div class="dropdown-field">
               <h5 class="dropdown-title">Forbund</h5>
                <p class="dropdown-text">Aenean commodo est laoreet.</p>
                <div class="clearfix">
                  <ul class="dropdomn-list">
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> LO-favør</a></li>
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Individuell</a></li>
                  </ul>
                  <ul class="dropdomn-list">
                    <li class="dropdomn-item"><a href="#"><i class="fa fa-angle-right dropdown-icons" aria-hidden="true"></i> Foreninger</a></li>
                  </ul>
                  </div>
                </div>
              <div class="dropdown-question">Ikke medlem? Ta kontakt</div>
            </ul>
       		</li>
       	</ul>
       </nav>
    </div>
</header>
