<section class="hero hero-overlay" style="background-image: url(../../images/11.jpg);">
	<div class="block-table">
		<div class="block-cell">
			<div class="hero-title">
				<h1>Din egen advokat når du trenger det!</h1>
				<p>Enten man bare ønsker et råd, eller saken ender i retten, betaler man ingen timepris.</p>
				<a href="" class="button">Se hva HELP kan hjelpe deg med</a>
			</div>
		</div>
	</div>
</section>
<section class="insurance-section">
  <h3 class="insurance-title text-center">Våre forsikringer</h3>
  <div class="insurance-section_wrapper">
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-6 col-sm-6 col-xs-12">
  				<div class="insurance-box">
  					<div class="insurance-content">
  						<i class="fa fa-comments" aria-hidden="true"></i>
  						<h4>Advokatforsikring</h4>
  						<div class="insurance-subject">
  							<p>Advokathjelp i privatlivet og for bedrifter.</p>
  						</div>
  						<a href="" class="button">Lær mer</a>
  					</div>
  				</div>
  			</div>
  			<div class="col-lg-6 col-sm-6 col-xs-12">
  				<div class="insurance-box">
  					<div class="insurance-content">
  						<i class="fa fa-comments" aria-hidden="true"></i>
  						<h4>Boligkjøperforsikring</h4>
  						<div class="insurance-subject">
  							<p>Advokathjelp for boligkjøpere. </p>
  						</div>
  						<a href="#" class="button">Lær mer</a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>
<section class="fagomrader-section">
	<h3 class="fagomrader-title text-center">Fagområder</h3>
	<div class="fagomrader-section_wrapper">
		<div class="container">
		   <div class="fagomrader-caption">
			 <p>Nulla lobortis varius neque, id semper turpis semper ut. Aliquam semper dui arcu.</p>
			</div>
			<div class="row">
				<div class="category col-lg-8 ">
					<a href="#" class="category-box" style="background-image: url(../../images/29164.jpg);">
						<div class="block-table">
							<div class="block-row">
								<div class="block-cell">
									<div class="block-title">
										<h4>Eiendom</h4>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 ">
				   <a href="#" class="category-box" style="background-image: url(../../images/1431676670_photodune-7434383-700x714.jpg);" >
				   	<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4>Barn/familie</h4>
								</div>
							</div>
						</div>
					</div>
				   </a>
				</div>
				<div class="col-lg-4 ">
					<a href="#" class="category-box" style="background-image: url(../../images/17a83e2c699bcf6fda59d040cfa0b191.jpg);">
					<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4>Forbrukerkjøp</h4>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-lg-4 ">
					<a href="#" class="category-box" style="background-color: #313640;">
						<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4 class="category-box_title">Meld inn sak</h4>
									<p class="category-box_subtitle">Meld sak</p>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-lg-4 ">
					<a href="#" class="category-box" style="background-image: url(../../images/186123685_crop_1414478768.jpg);" >
					<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4>Arv</h4>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-lg-4 ">
					<a href="#" class="category-box" style="background-image: url(../../images/129279918_3720816_Obshenie9.jpg);">
					<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4>Bedrift</h4>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-lg-8 ">
					<a href="#" class="category-box" style="background-image: url(../../images/putesestvie-s-vnukami-3.jpg);">
					<div class="block-table">
						<div class="block-row">
							<div class="block-cell">
								<div class="block-title">
									<h4>Samboer/ekteskap</h4>
								</div>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="communications">
	<div class="container">
		<div class="communications-content">
		   <h4>
			 Ring oss på <span class="communications-tel"> 22 99 99 99 </span>hverdager fra 08.30 til 16.30
			</h4>
		</div>
	</div>
</section>
