<div class="content-pusher">
	<div class="menumob">
	<div class="menumob_content">
		<div class="menumob-accordion">
		<div class="menumob-accordion-field">
		<div class="menumob-accordion-close">
			<a href="#"><img src="../../images/icons/close.png"></a>
		</div>
		  <h3 class="menumob-accordion-title">Fagområder</h3>
			  <div>
			    <ul class="menumob-accordion-list">
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Arv</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Barn/familie</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Eiendom</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Bedrift</a>
			      </li>
			      <li class="menumob-accordion-item">
			     	  <a href="#" class="menumob-accordion-link">ID-tyveri</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Forbrukerkjøp</a>
			      </li>
			      <li class="menumob-accordion-item">
			     	  <a href="#" class="menumob-accordion-link">Netthets</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Samboer/ekteskap</a>
			      </li>
			    </ul>
			  </div>
  			  <h3 class="menumob-accordion-title">Forsikringer</h3>
			 <div>
			    <ul class="menumob-accordion-list">
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Arv</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Barn/familie</a>
			      </li>
			    </ul>
			  </div>
			  <h3 class="menumob-accordion-title">Selskapet</h3>
			  <div>
			    <ul class="menumob-accordion-list">
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Om oss</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Kontakt</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Presse</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Partnere</a>
			      </li>
			      <li class="menumob-accordion-item">
			     	  <a href="#" class="menumob-accordion-link">Karriere</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">HELP i retten</a>
			      </li>
			    </ul>
			  </div>
			  <h3 class="menumob-accordion-title">Forbund</h3>
			  <div>
			    <ul class="menumob-accordion-list">
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">LO-favør</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Individuell</a>
			      </li>
			      <li class="menumob-accordion-item">
			      	  <a href="#" class="menumob-accordion-link">Foreninger</a>
			      </li>
			    </ul>
			  </div>
			</div>
			<div class="menumob-accordion-communication">
			    <a href="#" class="button-view">Logg inn</a>
				<a href="#" class="button">Meld sak</a>
			</div>
		</div>
	</div>
</div>
</div>