$fa-font-path:          '../vendor/font-awesome/fonts';
$fancybox-image-url:    '../vendor/fancybox/dist/img';
$icon-font-path:        '../vendor/bootstrap-sass/assets/fonts/bootstrap/';

$base-font-family: 		'Arial' !default;
$base-font-weight: 		normal !default;
$base-line-height: 		1.3 !default;
$base-background: 		#fff !default;
$base-font-size: 		16px !default;
$base-color: 			#333 !default;