.button {
    font-family: Roboto;
    padding: 9px 24px;
    text-align: center;
    color: #313640;
    display: inline-block;
    border-radius: 20px;
    background-color: #fbb034;
    border: none;
    transition:all 0.3s linear;
   -moz-transition:all 1s linear;
   -webkit-transition:all 1s linear;
   -o-transition:all 1s linear;
    &:hover {
    	border-radius: 23px;
        background-color: #fec66a;
        text-decoration: none;
        color: $brand-text-dark;
    }

    &:active {
    	 border-radius: 23px;
         background-color: #fdc66a;
    }

    &:focus {
    	outline: none;
    }
}

.button-view {
    font-family: Roboto;
    padding: 6px 13px;
    text-align: center;
    color: $brand-text-dark;
    border-radius: 23px;
    background-color: transparent;
    border: none;
     &:hover {
        border-radius: 20px;
        background-color: transparent;
        color: $brand-text-dark;
        text-decoration: none;
  }
}