<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>

  <% for ( var index in devCssFiles ) { %>
    <link rel="stylesheet" href="<%= devCssFiles[index] %>">
  <% } %>

	<link rel="stylesheet" href="stylesheets/style.css">


	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

	
	<script type="text/javascript">
		'main header footer figure figcaption section article'
            .split(' ').forEach(function (element) { document.createElement( element ) });
	</script>
</head>